.p-dropdown-trigger {
    display: none;
}

div.p-sidebar-top{
    height: 50% !important;
}
input.p-element .p-autocomplete-input .p-inputtext .p-component .ng-star-inserted {
    width: 100%;
}
span.p-component{
    width: 100%;
}