span.p-autocomplete {
    width: 100%;
}

span.p-component {
    width: 100%;
}

.ui-autocomplete input {
    width: 100%;
}

.p-dropdown-trigger p-dropdown-item {
    justify-content: center;
}
.p-dropdown-items-wrapper {
    width: 100%;
    text-align: center;
}