<div class="flex h-[70px] bg-white  w-ful items-center justify-between px-3 shadow-lg">
    <div class="flex gap-4 ">
        <a class="flex items-center  gap-2" routerLink="/">
            <img src="../../../assets/image/logo.svg" class="object-contain w-[45px]" alt="">
            <span class="font-semibold text-xl">SAKAI</span>
        </a>
        <div class=" flex justify-content-center  font-semibold text-lg ">
            <button pButton icon="pi pi-bars" (click)="ishow()"
                class="bg-white text-[#000] border-none  ">
            </button>
        </div>
    </div>
    <div class="flex items-center gap-3">
        <button pButton icon="pi pi-calendar" class="bg-white text-[#000] border-none ">
        </button>
        <button pButton icon="pi pi-user" class="bg-white text-[#000] border-none ">
        </button>
        <button pButton icon="pi pi-cog" class="bg-white text-[#000] border-none ">
        </button>
    </div>
</div>