<div  class="flex  p-4 flex-col   ">
    <ul  class="flex flex-col gap-2">
        <li *ngFor="let item of model" class="flex flex-col font-light text-md  text-[#333]  ">
            <div class="flex gap-2 flex-col">
                <span class="font-bold uppercase ">
                    {{item.lable}}
                </span>
                <div class=" w-full flex px-3 items-center" *ngFor="let item of item.items">
                    <button pButton  [routerLink]="item.path" icon="{{item.icon}}" label="{{item.text}}" 
                        class="  w-full flex gap-2 items-center py-1 rounded-lg px-2 focus:outline-none focus:ring focus:border-blue-500 focus:font-semibold focus:text-[#6366F1] ">
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>