<div class="card pb-[200px]">

  <p-table [columns]="label" #dt1 [value]="userData" [globalFilterFields]="label.field" styleClass=""
    [paginator]="true" [rows]="2" (onPage)="onPageValue($event)" [rowsPerPageOptions]="rowsPerPageOptions"
    [showCurrentPageReport]="true" selectionMode="single" [(selection)]="selectedUser"
    (onRowSelect)="onRowSelect($event)" [tableStyle]="{ 'max-width': '100%' }">
    <ng-template pTemplate="caption">
      <div class="flex">
        <div class="p-input-icon-left ml-auto h-8 flex items-center">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal(getValue($event), 'contains')"
            placeholder="Search keyword"
            class=" text-md rounded-md font-normal h-full pl-5 pr-2 focus:outline-none focus:border-sky-500 focus:ring-1" />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let item of label" pSortableColumn="{{item.link}} " class="text-center">
          {{item.name}} <p-sortIcon *ngIf="item.link" field="STT"></p-sortIcon>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns">
      <tr [pSelectableRow]="user" class="text-center">
        <td class="text-center p-0" *ngFor="let col of columns">
          {{ user[col.field] }}
        </td>
        <td >
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(user)"></button>
        </td>
        <td class="pl-0">
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteProduct(user)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" class="flex justify-center items-center">

    </ng-template>

  </p-table>

</div>