<div class="card overflow-y-auto " *ngIf="dataOneUser || isCreate">
    <form [formGroup]="user" class="formUser flex w-full p-fluid  mt-3">
        <div class=" col-12 md:col-4 flex flex-col items-center gap-4 ">
            <div class="flex items-center" *ngIf="dataOneUser">
                <img src="../../../assets//image/images.png" class="w-[200px] h-[200px]" alt="">
            </div>
            <div class="field flex flex-col col-12 gap-1">

                <div class=" flex flex-col gap-1">
                    <label htmlFor="inputgroup">Name</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="flex w-full">
                            <input type="text" inputId="inputgroup" [placeholder]="dataOneUser ? dataOneUser[0]?.Name : 'Name'" pInputText
                                formControlName="Name" />
                        </span>
                        
                    </div>
                </div>
                <div class="flex flex-col w-full ">
                    <label htmlFor="inputgroup">Password</label>
                    <input type="text" inputId="inputgroup" placeholder="Password" pInputText
                        formControlName="Password"/>
                </div>
                <div class="col-12 p-0 z-30 ">
                    <div class=" flex w-full gap-1 ">
                        <div class="flex flex-col col-7 p-0">
                            <label htmlFor="calendar">Birthday</label>
                            <p-calendar dateFormat="yy-mm-dd" [placeholder]="dataOneUser ? dataOneUser[0]?.Birdthday : 'Birthday'"
                                class=" calender rounded-tr-none rounded-br-none border-r-0" formControlName="Birthday"
                                [showIcon]="true"></p-calendar>
                        </div>
                        <div class="flex card flex-col col-5 p-0">
                            <label htmlFor="Gender" >Gender</label>
                            <p-dropdown [options]="GenderUser" [placeholder]="dataOneUser ? dataOneUser[0]?.Gender: 'Gender'"
                                optionLabel="value" optionValue="type"  inputId="Gender" formControlName="Gender"></p-dropdown>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
        <div  class="col-12 md:col-8 flex ">
            <div class=" col-12  md:col-7">
                <div class="flex flex-col w-full gap-1">
                    <label htmlFor="inputgroup">Phone</label>
                    <input type="text" inputId="inputgroup" [placeholder]="dataOneUser ? dataOneUser[0]?.Phone: 'Phone'" pInputText
                        formControlName="Phone"/>
                </div>
                <div *ngIf="isRePair" class="flex flex-col w-full gap-1">
                    <label htmlFor="inputgroup">Address</label>
                    <input type="text" inputId="inputgroup" [placeholder]="dataOneUser ? dataOneUser[0]?.Address: 'Address'" pInputText
                        formControlName="Address"/>
                </div>
                <div class="flex flex-col w-full gap-1">
                    <label htmlFor="inputgroup">Email</label>
                    <input type="email" inputId="inputgroup" [placeholder]="dataOneUser ? dataOneUser[0]?.Email: 'Email'" pInputText
                        formControlName="Email">
                </div>
                <!-- form update -->

                <div *ngIf="!isRePair" class="flex col-12 p-0 w-full gap-1">
                    <div class="flex col-6 p-0 flex-col  gap-1">
                        <label htmlFor="dropdown">Position</label>
                        <p-dropdown class="capitalize" inputId="dropdown" [placeholder]="dataOneUser ? dataOneUser[0]?.UserTypeName: 'UserTypeName'"
                            [options]="position" formControlName="Position" optionValue="id"
                            optionLabel="userTypeName"></p-dropdown>
                    </div>
                    <div class="flex col-6 p-0 flex-col gap-1">
                        <label htmlFor="dropdown">Division</label>
                        <p-dropdown class="capitalize" inputId="dropdown" [placeholder]="dataOneUser ? dataOneUser[0]?.PositionName: 'PositionName'" optionValue="id"
                            [options]="division" formControlName="Division" optionLabel="positionName"></p-dropdown>
                    </div>
                </div>



            </div>
            <!-- form show -->
            <div class=" col-12 md:col-5 gap-1">
                <ng-container *ngIf="isRePair ">
                    <div class="flex col-12 p-0 gap-1 lg:col-4 flex-col w-full ">
                        <label for="dropdown">Position</label>
                        <p-dropdown  class="capitalize" inputId="dropdown" placeholder='{{dataOneUser[0]?.UserTypeName}}' optionValue=""
                            [options]="position" optionValue="id" formControlName="Position"  optionLabel="userTypeName" ></p-dropdown>
                    </div>
                    <div class="flex col-12 p-0 gap-1 lg:col-4 flex-col w-full ">
                        <label for="dropdown">Division</label>
                        <p-dropdown inputId="dropdown" placeholder='{{dataOneUser[0]?.PositionName}}' 
                            optionValue="id" [options]="division" formControlName="Division"  optionLabel="positionName" ></p-dropdown>
                    </div>
                    <div class="flex col-12 p-0 gap-1 lg:col-4 flex-col w-full ">
                        <label for="dropdown">Create Day</label>
                        <input type="text" inputId="inputgroup" placeholder="{{dataOneUser[0]?.CreateDay }}"
                            [disabled]="true" placeholder="Create day" pInputText/>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isRePair">
                    <app-filters [Address] = "dataOneUser?dataOneUser[0].Address:''" (newItemEvent)="getDataAddress($event)"></app-filters>
                </ng-container>
                <div class="card mt-8 flex gap-2  justify-content-center">
                    <ng-container *ngIf="!isCreate" >
                        <ng-container *ngIf="isRePair">
                            <p-button (click)="handleRepair()" class="rounded-lg bg-blue-600 text-white hover:shadow-lg"
                                label="Sửa"></p-button>
                            <p-button *ngIf="isDelete" (click) = "handleDeleted()"  class="rounded-lg bg-red-500 text-white hover:shadow-lg" label="Xóa "></p-button>
                        </ng-container>
                        <ng-container *ngIf="!isRePair">
                            <p-button (click)="handleUpdate()"  class="rounded-lg bg-blue-600 text-white hover:shadow-lg"
                                label="Cập Nhật"></p-button>
                            <p-button (click)="handleCancel()" class="rounded-lg bg-red-500 text-white hover:shadow-lg"
                                label="Hủy"></p-button>
                            </ng-container>
                    </ng-container>
                    <ng-container *ngIf="isCreate">
                        <p-button (click)="handleCreate()" class="rounded-lg bg-blue-600 text-white hover:shadow-lg"
                                label="Thêm tài khoản"></p-button>
                    </ng-container>
                    

                        <p-confirmDialog class="bg-red-500 " [style]="{width: '50vw'}"></p-confirmDialog>

                </div>
                <p-toast class="p-button-success" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0',}}"></p-toast>
            </div>
            
        </div>


    </form>
</div>